.slds-card {
    border: 0;
}

.slds-card__body_inner {
    background: orange;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 0;
    padding: 1rem;
    margin: 0;
    height: 80vh;
}

.header-title {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
