@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.name {
    font-size: 1rem;
    text-align: left;
    text-overflow: ellipsis;
    animation: fadeIn 0.2s;
}
