*,
*::before,
*::after {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    box-sizing: border-box;
}
.leaderboard {
    color: white;
    font-weight: 900;
    font-size: xx-large;
    padding: 5%;
    width: 90%;
    margin: 3rem auto 1rem 0;
}
ol {
    list-style-type: none;
    background: orange;
}
/* highlight first row */
li:first-child {
    background: white;
    color: #333;
}
li {
    border: 0;
    padding: 0 2rem;
}
/* move score to right */
span {
    float: right;
}
