*,
*::before,
*::after {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    box-sizing: border-box;
}
.leaderboard {
    color: white;
    font-weight: 900;
    font-size: xx-large;
    padding: 5%;
    margin: 0;
}

ol {
    list-style-type: none;
}

/* highlight first row */
li:first-child {
    background: white;
    color: #333;
    border-radius: 8px;
}

li {
    border: 0;
    padding: 0 2rem;
}

/* move score to right */
span {
    float: right;
}
